---
import dataProjects from "../services/dataProjects.json";
import Pokedex from "../assets/projects/project-pokedex.png";
import Producto1 from "../assets/projects/proyecto1.png";
import Producto2 from "../assets/projects/proyecto2.png";
import Producto3 from "../assets/projects/proyecto3.png";
import Producto4 from "../assets/projects/proyecto4.png";
import GitHub from "../assets/github.svg";
import Link from "../assets/link.svg";

const dataProjectsfil = dataProjects.map(dataProject => {
    const switchFunction = (nombre: string) => {
        const optionMapping: { [key: string]: any } = {
            'pokedex': Pokedex,
            'producto1': Producto1,
            'producto2': Producto2,
            'producto3': Producto3,
            'producto4': Producto4,
            'default': Producto1,
        };
        return optionMapping[nombre];
    };

    return {
        nombre: dataProject.nombre,
        descripcion: dataProject.descripcion,
        github: dataProject.github,
        url: dataProject.url,
        tecnologias: dataProject.tecnologias,
        img: switchFunction(dataProject.img),
    }
}) 

---

<section id="projects" class="max-w-[calc(990px+4rem)] w-full flex flex-col p-8 justify-center items-center pt-24">
    <div class="w-full title-section relative text-4xl font-bold text-start">
        <h1>Projects</h1>
    </div>
    <div class='flex flex-wrap mt-16 gap-16 justify-around w-full'>
        {
            dataProjectsfil.map((project, index) => (
                <div class='flex flex-col h-[580px] w-[350px] bg-[#263243] rounded-xl'>
                    <img class='h-[200px] rounded-t-xl' src={project.img?.src}/>
                    <div class='flex flex-col flex-1 p-10 pb-0'>
                        <span class='text-xl'>Project #{index + 1}</span>
                        <h2 class='text-[#6688ff] text-xl' >{project.nombre}</h2>
                        <p>{project.descripcion}</p>
                        
                    </div>
                    <div class='px-10 pb-4'>
                        <div class='flex gap-4 pb-2'>
                            <a href={project.github} target="_blank"><img class='w-[32px]' src={GitHub.src} alt=""></a>
                            <a href={project.url} target="_blank"   ><img class='w-[32px]' src={Link.src} alt=""></a>
                        </div>
                        <span>{project.tecnologias}</span>
                    </div>
                </div>
            ))
        }
    </div>
</section>