---
import dataProjects from "../services/dataProjects.json";

const dataProjectsfil = dataProjects.map((dataProject) => {
    return {
        nombre: dataProject.nombre,
        descripcion: dataProject.descripcion,
        github: dataProject.github,
        url: dataProject.url,
        tecnologias: dataProject.tecnologias,
        img: dataProject.img,
    };
});
---

<section
    id="projects"
    class="max-w-[calc(990px+4rem)] w-full flex flex-col p-8 justify-center items-center pt-28"
>
    <div class="w-full title-section relative text-4xl font-bold text-start">
        <h1>Proyectos</h1>
    </div>
    <div class="flex flex-wrap mt-16 gap-6 justify-around w-full">
        {
            dataProjectsfil.map((project) => (
                <div class="max-w-[380px] md:max-w-full relative flex flex-col h-[520px] w-[350px ] md:w-[480px] md:h-[300px] bg-[#263243] rounded-xl group overflow-hidden">
                    <img
                        class="h-[200px] md:h-full w-full rounded-t-xl md:rounded-xl object-cover"
                        src={project.img}
                    />
                    <div
                        class="flex flex-col flex-1 justify-between bg-[#263243]/[90%] -top-full 
                        md:absolute md:w-full md:h-full group-hover:top-0 transition-all duration-200"
                    >
                        <div class="flex flex-col px-5 pt-5 md:px-10">
                            <h2 class="text-[#6688ff] text-xl text-center md:text-2xl font-medium">
                                {project.nombre}
                            </h2>
                            <p class="pt-5">{project.descripcion}</p>
                        </div>
                        <div class="grid md:flex justify-between gap-3 px-5 pb-4 md:px-10">
                            <div class="flex gap-5">
                                {project.tecnologias.map((tercno: any) => (
                                    <div class=" flex flex-col items-center">
                                        <img
                                            class="h-8 "
                                            src={tercno.src}
                                            alt={tercno.name}
                                        />
                                        <span>{tercno.name}</span>
                                    </div>
                                ))}
                            </div>
                            <div class="flex gap-4">
                                <a href={project.github} target="_blank">
                                    <img
                                        class="h-8"
                                        src="/assets/logos/github.svg"
                                        alt=""
                                    />
                                    <span>Code</span>
                                </a>
                                {project.url && (
                                    <a href={project.url} target="_blank">
                                        <img
                                            class="h-8"
                                            src="/assets/logos/link.svg"
                                            alt=""
                                        />
                                        <span>Web</span>
                                    </a>
                                )}
                            </div>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</section>
